<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
    />
    <style>
      body {
        padding-top: 0px;
      }
      .dropdown.dropdown-lg .dropdown-menu {
        margin-top: -1px;
        padding: 4px 15px;
      }

      .btn-group .btn {
        border-radius: 0;
        margin-left: -1px;
      }
      .form-horizontal .form-group {
        margin-left: 0;
        margin-right: 0;
      }

      .photo {
        margin-right: 10px;
      }

      .card {
        margin-top: 30px;
        padding: 5px 20px 5px 5px;
        border: 1px solid rgba(0, 0, 0, 0.125);
        border-radius: 0.25rem;
      }

      .poster {
        width: 100%;
      }

      header {
        margin-top: 50px;
        margin-bottom: 50px;
      }
    </style>
  </head>
  <body>
    <header data-block-type="headers" data-id="1" class="">
      <div class="container">
        <div
          class="col-12 col-md-12 text-center text-md-center order-lg-12"
          style="z-index: 10000;"
        >
          <h2><span style="color: rgb(84, 172, 210);">Moovie</span></h2>
        </div>
      </div>
    </header>

    <div class="container">
      <div class="row">
        <div class="col-md-7 col-md-offset-3">
          <form class="form-horizontal" role="form">
            <div class="input-group" id="boot-search-box">
              <input
                name="search"
                type="text"
                class="form-control"
                placeholder="Search Movie, Genre, and Rating"
                style="width: 100%"
              />
              <div class="input-group-btn">
                <button
                  type="submit"
                  class="btn btn-primary"
                  aria-hidden="true"
                >
                  Search
                  <span
                    class="glyphicon glyphicon-search"
                    aria-hidden="true"
                  ></span>
                </button>
              </div>
            </div>
            <div class="form-group">
              <label for="genre" class="col-sm-2 control-label">Genre:</label>
              {% for genre in genres %}
              <label class="checkbox-inline">
                <input type="checkbox" value="{{ genre.key }}" name="genre" />{{
                  genre.key
                }}
              </label>
              {% endfor %}
            </div>
            <div class="form-group">
              <label for="password1" class="col-sm-3 control-label"
                >Rating Range:</label
              >
              <input
                type="number"
                placeholder="min"
                value="0"
                min="0"
                max="10"
                name="min-rate"
              />
              <input
                type="number"
                placeholder="max"
                value="10"
                min="0"
                max="10"
                name="max-rate"
              />
            </div>
            <button type="submit" class="btn btn-primary btn-block">
              Search
              <span
                class="glyphicon glyphicon-search"
                aria-hidden="true"
              ></span>
            </button>
          </form>
        </div>
      </div>
    </div>

    {% if is_search %}
    <div class="container">
      <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-7">
          <div class="card card-primary text-center">
            Found {{ movies.hits.total.value }} movies.
            {{ movies.took / 1000 }} detik
          </div>
        </div>
      </div>
    </div>
    {% endif %}

    <div class="container">
      {% for movie in movies %}
      <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-7">
          <div class="card">
            <div class="row">
              <div class="col-sm-3">
                <img src="{{ movie.img or '' }}" class="poster" />
              </div>
              <div class="col-sm-9">
                <span
                  ><h4 class="movie-title">{{ movie.title }}</h4></span
                >
                <p>{{ movie.summary or '' }}</p>
                <p class="movie-genre">
                  <strong>Genre : </strong> {{ ", ".join(movie.genre) }}
                </p>
                <p class="movie-rating">
                  <strong>Rating : </strong> {{ movie.rating }}/10
                </p>
                <p class="movie-cast">
                  <strong>Cast : </strong> {{ ", ".join(movie.casts) }}
                </p>
                <a
                  href="{{ url_for('movies.render_movie', id=movie.id) }}"
                  type="button"
                  class="btn btn-primary"
                  >View More</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

    <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  </body>
</html>
